* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color: var(--cor-texto);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p, span, label {
  color: var(--cor-texto-claro);
}

select {
  padding: 2px 15px;
  border-radius: 10px 10px 5px 5px;
}

body {
  background-color: var(--cor-fundo-geral);
}

#parallax_about img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #ffffffb5;
}

#parallax_about p {
  font-size: 1.5rem;
}

#parallax_about h1, #parallax_about p {
  position: relative;
  text-align: center;
  z-index: 2;
  padding: 0 15%;
}

.module.parallax {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;

  min-height: 100vh;
  width: 100%;
  padding: 20px 0;

  overflow: hidden;
  position: relative;
  background: url("../assets/images/parallax.jpg") 50% 50% no-repeat fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.module.parallax:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 40%,
    rgb(0, 0, 0, 0.8) 100%
  );
}

#projects_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 30px 0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

#projects_content {
  background: rgb(213,114,92);
  background: radial-gradient(circle, rgba(213,114,92,1) 0%, rgba(45,45,45,1) 100%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 50px;
}

#projects_content img {
  background-color: #ffffffb5;
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.project {
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.project:hover {
  transform: scale(1.03);
}

.project_info{
  background-color: #2d2d2d;
  margin-top: -3.6px;
}

.project h3, .project span {
  padding: 10px;
}

.project_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}

.levels {
  display: flex;
  align-items: center;
  padding-left: 10px;
  transform: scale(0.8);
}

.project_links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

.project_links span a {
  color: rgb(238, 238, 66);
  padding: 2px 15px;
  text-decoration: none;
  border: 2px solid rgb(132, 132, 25);
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.project_links span a:hover {
  filter: brightness(150%);
  cursor: pointer;
}

footer span {
  color: var(--cor-texto);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-top: 2px solid #fff;
  padding: 35px 10px;
}

footer a {
  color: var(--newbie);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
