:root {
  /* Cores principais */
  --cor-fundo-geral: #1a1a1a;
  --cor-texto: #ffffff;
  --cor-texto-claro: #cccccc;
  --cor-borda: #666666;

  --newbie: rgb(106, 190, 205);;
  --junior: rgb(170, 215, 66);
  --intermediate: rgb(241, 182, 4);
  --advanced: rgb(244, 137, 37);
  --guru: rgb(237, 44, 73);
}

.newbie {
  color: var(--newbie);
  border: 1px solid var(--newbie);
  border-radius: 0 10px 10px 0;
}

.newbie_num {
  color: #2d2d2d;
  background-color: var(--newbie);
  border: 1px solid var(--newbie);
  border-radius: 10px 0 0 10px;
}

.junior {
  color: var(--junior);
  border: 1px solid var(--junior);
  border-radius: 0 10px 10px 0;
}

.junior_num {
  color: #2d2d2d;
  background-color: var(--junior);
  border: 1px solid var(--junior);
  border-radius: 10px 0 0 10px;
}

.intermediate {
  color: var(--intermediate);
  border: 1px solid var(--intermediate);
  border-radius: 0 10px 10px 0;
}

.intermediate_num {
  color: #2d2d2d;
  background-color: var(--intermediate);
  border: 1px solid var(--intermediate);
  border-radius: 10px 0 0 10px;
}

.advanced {
  color: var(--advanced);
  border: 1px solid var(--advanced);
  border-radius: 0 10px 10px 0;
}

.advanced_num {
  color: #2d2d2d;
  background-color: var(--advanced);
  border: 1px solid var(--advanced);
  border-radius: 10px 0 0 10px;
}

.guru {
  color: var(--guru);
  border: 1px solid var(--guru);
  border-radius: 0 10px 10px 0;
}

.guru_num {
  color: #2d2d2d;
  background-color: var(--guru);
  border: 1px solid var(--guru);
  border-radius: 10px 0 0 10px;
}