.title {
    color: var(--very-light-gray-bg-hd-btn);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 38px;

    margin: 30px 0;
    text-transform: uppercase;
}

.text {
    color: var(--transparent-white-p);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;

    margin-bottom: 85px;
}